@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playpen+Sans:wght@400;500&display=swap');
// font-family: 'Open Sans', sans-serif;
// font-family: 'Playpen Sans', cursive;

$open-sans:'Open Sans', sans-serif;
$cursive : 'Playpen Sans', cursive;

$blue: #0BB4AA
