.btn {
    margin-top:60px;
    padding:12px 18px;
    outline:none;
    background:transparent;
    font-size:28px;
    color: #0BB4AA;
    border: 2px solid #0BB4AA;  
    box-shadow: 6px 5px;
    transition: all .2s;

    &:hover {
        box-shadow:none;
        transform:scale(1.1);
    }
}

@include respond(tab-port){
    .btn {
        font-size: 24px;
    }
}

@include respond(phone){
    .btn {
        font-size: 20px;
    }
}